{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BPO服务 - 外包服务 - 中软国际</title>
<meta  name="keywords" content="服务外包, 外包服务,人力资源外包, IT人才派遣服务,产品工程服务, 产品研发与测试服务, 产品部署与支持服务,IT外包服务(ITO), IT基础设施管理服务, 应用开发与测试服务, 遗留系统升级及移植服务,业务流程外包(BPO), 业务流程外包服务, 客户联络中心服务, BPO服务,BPO, EPO服务, EPO, KPO服务, KPO,语言全球化服务, 软件产品全球化服务,多媒体内容翻译服务"  />
<meta name="description" content="外包服务是指企业或者经济实体将自己业务流程或者部分职能从自身的业务运作中分离出来交给第三方实体提供相关专业化服务。中软国际提供的外包服务主要包括：人力资源外包、产品工程工程服务、IT外包服务、业务流程外包和语言全球化服务。" />

<script src="{% static  'js/jquery-1.11.2.js'%}" language="javascript" type="text/javascript"> </script>
<script src="{% static  'js/header-slider.js'%}" language="javascript" type="text/javascript"></script>
<link href="{% static  'header.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static  'icss_css/icss_2_0_outsourcing_css.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static  'icss_css/icss_2_2_outsourcinghome2.css'%}" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34957908-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body onload="Windonload();countInfo(2639);">
<div id="wrap">
	<div class="maintop">
    <div class="top">
      <div class="top_right">
        <ul>
          <li id="language" class="language nav_narrow_down "><a href="#" style="font-family:Calibri, Arial, '宋体';">Select Language</a>
          	<div style="position:relative; padding-top:5px; z-index:400; width:110px;*padding-top:0px;">
            <div class="ul_select_lan liselected">
              <ul>
                <li><a href="../../zh/index.shtml" target="_self" style="font:12px/23px '宋体';">简体中文</a></li>
                <li><a href="../../tc/index.shtml" target="_self" style="font:12px/23px '细明体';">繁体中文</a></li>
                <li><a href="../../en/index.shtml" target="_self" style="font:12px/23px 'Calibri';">English</a></li>
				<li><a href="../../jp/index.shtml" target="_self" style="font:12px/23px 'Calibri';">日本語</a></li>  
              </ul>
            </div>
            </div>
            
          </li>
          <li class="hdlink"><a href="../investor/index.shtml">投资者</a></li>
          <li class="hdlink"><a href="../join-us/index.shtml">加入我们</a></li>
        </ul>
      </div>
      <!--top_right-->
    </div>
    <!--top-->
  </div>
  <!--maintop-->
  <div id="header">
    <div class="expo_logo"> <a href="../index.shtml" target="_self"> <img src="{% static  'images/LOGO.jpg'%}" alt="中软国际" title="中软国际" /> </a> </div>
    <!--expo_logo-->
  </div>
  <!--header-->
  <div id="nav">
    <div class="mainnav">
      <ul>
        <li><a  href="../psg/index.shtml" name="#personalService">专业服务</a></li>
        <li><a  href="../outsourcing-services/index.shtml" name="#outsourcingService">技术服务</a></li>
		<li><a  href="../emerging-services/index.shtml" name="#emergingServices">新业务</a></li>
        <li><a  href="../etc/index.shtml" name="#excellentTraining">卓越培训</a></li>
        <li style="width:116px;"><a href="../about/index.shtml" name="#aboutIscc">关于中软国际</a></li>
      </ul>
      <form action="#" method="post">
        <input type="text" id="search" name="search" value="搜索" class="textbox"/>
        <input name="提交" type="button" class="go" value=" " onclick="allSearch();" />
      </form>
    </div>
    <!--mainnav-->
  </div>
  <div style="width:980px; margin:0px auto; padding:0px;">
    <!-- 专业服务 -->
    <div class="submenu" style="width: 630px;">
		  <div id="personalService" class="submenubg">
			<!-- left -->
			<div id="divL1" style="float:left;width:180px; height:200px;">
			  <div class="submenuStyle1">
				<h1><a href="../psg/platform/s1_home.shtml" target="_self">平台</a></h1>
				<div class="box_1" style="border: none; width:140px;">
				  <ul>
					<li><a href="../psg/platform/r1.shtml" target="_self"><span style="font-family:Calibri, Arial, '宋体'">ResourceOne</span>系列产品</a></li>
					<li><a href="../psg/platform/toplink.shtml" target="_self"><span style="font-family:Calibri, Arial, '宋体'">TopLink/TSA+</span>系列产品</a></li>
					
				  </ul>
				</div>
			  </div>
			  <div class="submenuStyle1" >
				<h1><a href="../psg/advisory/advisory_0.shtml">咨询</a></h1>
				<div class="box_1" style="border: none; width:120px;">
				  <ul>
					<li><a href="../psg/advisory/advisory_1.shtml">战略咨询</a></li>
					<li><a href="../psg/advisory/advisory_2.shtml">业务咨询</a></li>
					<li><a href="../psg/advisory/advisory_3.shtml">信息化规划咨询</a></li>
				  </ul>
				</div>
			  </div>
			</div>
			<!-- middle -->
			<div id="divM1" style=" float:left;width:150px; height:185px; background-color:#E0EEF9; margin-top:15px;"> <a href="../psg/platform/r1.shtml" style="display:block; padding:10px 20px;"><img src="{% static  'images/mpic05.png'%}" width="112" height="159"   alt="平台" title="平台"/></a> </div>
			<!-- right -->
			<div  id="divR1" style="float:left;width:130px; height:200px;">
			  <div class="submenuStyle1">
				<h1><a href="../psg/solution/solve_project.shtml">解决方案</a></h1>
				<div class="box_1" style="border: none; width:82px;">
				  <ul>
					<li><a href="../psg/solution/industry-solution/industry.shtml">行业解决方案</a></li>
					<li><a href="../psg/solution/common-solution/common_0.shtml">通用解决方案</a></li>
				   
				  </ul>
				</div>
			  </div>
			  <div class="submenuStyle2">
				<h1><a href="../psg/integrationAndServices/ias.shtml">集成与服务</a></h1>
				<div class="box_2" style="width:82px;border: none;">
				  <ul>
					<li><a href="../psg/integrationAndServices/systemIntegration.shtml">系统集成</a></li>
					<li><a href="../psg/integrationAndServices/systemMaintenance.shtml">系统维护</a></li>
					<li><a href="../psg/integrationAndServices/systemsOperation.shtml">系统运行</a></li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
    </div>
    <!--  外包服务  -->
    <div class="submenu" style="width: 820px; ">
      <div id="outsourcingService" class="submenubg">
        <div id="divLW1" style="float:left;width:178px; height:228px; ">
          <div class="submenuStyle1">
            <h1><a href="../outsourcing-services/hr_outsourcing.shtml">人力资源外包</a></h1>
            <div class="box_2"  style="width:138px;">
              <ul>
                <li><a href="../outsourcing-services/talent_dispatch.shtml">专业人才派遣服务</a></li>
               
              </ul>
            </div>
          </div>
          <div class="submenuStyle1"  >
            <h1 ><a href="../outsourcing-services/bpo.shtml">业务流程外包服务</a></h1>
            <div class="box_2" style="width:128px;">
              <ul>
                <li><a href="../outsourcing-services/call_center.shtml">客户联络中心服务</a></li>
                <li><a href="../outsourcing-services/bpo_services.shtml">BPO服务</a></li>
                <li><a href="../outsourcing-services/epo_services.shtml">EPO服务</a></li>
                <li><a href="../outsourcing-services/kpo_services.shtml">KPO服务</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="divMW1" style="float:left;width:172px; height:228px;">
          <div class="submenuStyle1">
            <h1><a href="../outsourcing-services/ito.shtml">IT外包服务</a></h1>
            <div class="box_1" style="width:132px; border-left: 1px solid #dddddd;"> <img src="{% static  'images/mpic04.png'%}" alt="IT 外包服务" width="129" height="87"  />
              <ul style="padding-top:10px;">
                <li><a href="../outsourcing-services/it_management.shtml">IT基础设施管理服务</a></li>
                <li><a href="../outsourcing-services/application_development.shtml">应用开发与测试服务</a></li>
                <li><a href="../outsourcing-services/legacy_system_migration.shtml">遗留系统升级及移植服务</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="divRW1" style="float:left;width:148px; height:228px;">
          <div class="submenuStyle1">
            <h1><a href="../outsourcing-services/product_engineering.shtml">产品工程服务</a></h1>
            <div class="box_2" style="width:108px;">
              <ul>
                <li><a href="../outsourcing-services/development_testing.shtml">产品研发与测试服务</a></li>
                <li><a href="../outsourcing-services/product_deployment.shtml">产品部署与支持服务</a></li>
               
              </ul>
            </div>
          </div>
          <div class="submenuStyle1"  >
            <h1><a href="../outsourcing-services/globalization.shtml">语言全球化服务</a></h1>
            <div class="box_2" style="width:112px;">
              <ul>
                <li><a href="../outsourcing-services/software_globalization.shtml">软件产品全球化服务</a></li>
                <li><a href="../outsourcing-services/multimedia_translation.shtml">多媒体内容翻译服务</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	<!-- 新业务 -->
    <div class="submenu" style="width: 820px; margin-left: 150px;">
    	<div id="emergingServices" class="submenubg">
        	<div id="divLW1" style="float:left;width:178px; height:228px; ">
            	<div class="submenuStyle1">
                	<h1><a href="../emerging-services/solutions.shtml">解决方案</a></h1>
                    <div class="box_2" style="width:138px;">
                    	<ul>
                        	<li><a href="../emerging-services/solutions_ind.shtml">产业相关</a></li>
                        	<li><a href="../emerging-services/solutions_soc.shtml">民生相关</a></li>
                        	<li><a href="../emerging-services/solutions_gov.shtml">政务相关</a></li>
                      	</ul>
                  	</div>
              	</div>
              	<div class="submenuStyle1">
                  	<h1><a href="../emerging-services/services.shtml">服务</a></h1>
                  	<div class="box_2" style="width:135px;">
                      	<ul>
                          	<li><a href="../emerging-services/services_cloud.shtml">云咨询与云服务</a></li>
                          	<li><a href="../emerging-services/services_internet.shtml">互联网服务</a></li>
                      	</ul>
                  	</div>
              	</div>
          	</div>
          	<div id="divMW1" style="float:left;width: 200px; height:228px;">
              	<div class="submenuStyle1">
                  	<h1><a href="../emerging-services/cases.shtml">典型案例</a></h1>
                  	<div class="box_1" style="width:132px; border-left: 1px solid #dddddd; border-right: 0;">
                      	<ul>
                          	<li><a href="../emerging-services/cases_lishui.shtml">丽水电子政务云</a></li>
                          	<li><a href="../emerging-services/cases_greencity.shtml">绿城置业服务平台</a></li>
                          	<li><a href="../emerging-services/cases_21cen.shtml">中信21CN药监平台</a></li>
                          	<li><a href="../emerging-services/cases_fetion.shtml">飞信移动客户端</a></li>
                          	<li><img src="../emerging-services/images/topSample.jpg" alt="" style="padding-top:5px;"/></li>
                      	</ul>
                  	</div>
              	</div>
          	</div>
      	</div>
    </div>
    <!-- 卓越培训 -->
    <div class="submenu" style="width: 660px; left:300px;  ">
      <div id="excellentTraining" class="submenubg">
        <div id="divLW1" style="float:left;width:168px; height:210px; ">
          <div class="submenuStyle1">
            <h1><a href="../etc/practical_training.shtml">大学生实训</a></h1>
            <div class="box_1" style="width:110px;border:none;"> </div>
          </div>
          <div class="submenuStyle1">
            <h1><a href="../etc/social_training.shtml">社会培训</a></h1>
            <div class="box_2" style="width:110px;">
              <ul>
                <li><a href="../etc/social_training.shtml#page1">企业级&amp;行业级培训</a></li>
                <li><a href="../etc/social_training.shtml#page2">国际认证培训及考试</a></li>
                <li><a href="../etc/social_training.shtml#page3">公司内部培训</a></li>
              </ul>
            </div>
          </div>
          <div class="submenuStyle2" >
            <h1  style="width:130px;"><a href="../etc/csi_university.shtml">中软国际大学</a></h1>
          </div>
        </div>
        <div id="divRW1" style="float:left;width:243px; height:210px; ">
          <div class="submenuStyle2">
            <h1><a href="../etc/locations.shtml">全国布局</a></h1>
            <div class="box_2" style="width:203px; border-left: 1px solid #dddddd;"> <a href="../etc/locations.shtml"><img src="{% static  'images/mpic01.png'%}" alt="全国布局" width="203" height="167" /></a> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 关于中软国际 -->
    <div class="submenu" style="width:770px; left: 150px;">
      <div id="aboutIscc" class="submenubg">
        <div class="submenuStyle1">
          <div id="divLW1" style="float:left;width:105px; height:214px; ">
            <h1><a href="../about/overview/overview.shtml">公司概览</a></h1>
            <div class="box_1" style="width:65px;border:none;">
              <ul>
                <li><a href="../about/overview/company_profile.shtml">公司介绍</a></li>
                <li><a href="../about/overview/histry.shtml">发展历史</a></li>
                <li><a href="../about/overview/mission_vision.shtml">愿景和使命</a></li>
                <li><a href="../about/overview/management_team.shtml">管理团队</a></li>
                <li><a href="../about/overview/honor.shtml">公司荣誉</a></li>
                <li><a href="../about/overview/social_responsibility.shtml">社会责任</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="divLW1" style="float:left;width:356px; height:194px; padding:10px 20px; background-color:#e0eef9;">
        	<a href="../about/overview/histry.shtml"><img src="{% static  'images/mpic02.png'%}" width="356" height="183" alt="关于中软国际" /></a>
        </div>
        
        <div id="divLW1" style="float:left;width:105px; height:214px; ">
           <div class="submenuStyle1">
          <h1><a href="../about/newsroom/newsroom.shtml"> 新闻中心</a></h1>
          <div class="box_2" style="width:65px;">
            <ul>
              <li><a href="../about/newsroom/news.shtml">公司动态</a></li>
              <li><a href="../about/newsroom/media_report.shtml">媒体聚焦</a></li>
              <li><a href="../about/newsroom/industry_stories.shtml">行业故事</a></li>
              
            </ul>
          </div>
        </div>
        
        <div class="submenuStyle2">
          <h1><a href="../about/contact/contact.shtml">联系我们</a></h1>
          <div class="box_2" style="width:72px;">            
          </div>
        </div>
        </div>
        
        <div id="divLW1" style="float:left;width:152px; height:214px; ">
          <h1><a href="#">&nbsp;</a></h1>
          <div class="box_2" style="width:112px;  border-left: 1px solid #dddddd;" >
          	<a href="http://www.chinasofti.com/superWebCMS/pages/sites/MainSite/html/zh/IR/2014.interim report.pdf" target="_blank"  ><img src="{% static  'images/mpic012014n.jpg'%}" alt="中软国际2013年中报"  width="102" height="144" /></a>
            <ul>
              <li><a href="http://www.chinasofti.com/superWebCMS/pages/sites/MainSite/html/zh/IR/2014.interim report.pdf" target="_blank"  style=" display:inline-block;">中软国际2013年中报</a></li>
            </ul> 
          </div>
        </div>
     </div>
    </div>
  </div>
  <div class="icss_2_0_PSG_banner">
    <div id="silder_img" style="overflow:hidden; width:1000px;">
{#      <div id="bannerImg"  > <img src="{% static article.bannerImg %}" alt="BPO服务" title="BPO服务" style="height:114px; position: relative;"/> </div>#}
      <div id="bannerImg"  > <img src="http://www.chinasofti.com/superWebCMS/pages/sites/MainSite/html/zh/images/icss_2_0_PSG/logo/2.9.bar11.jpg" alt="BPO服务" title="BPO服务" style="height:114px; position: relative;"/> </div>
    </div>
  </div>
  <!--middle_wrap-->
  <!--middle_bottom-->
  <div class="icss_2_0_PSG_bankuai">
    <div class="icss_2_2_S1home2_box1">
      <h3 class="mue"><a href="hr_outsourcing.shtml">人力资源外包</a></h3>
      <ul class="menu">
        <li><a href="talent_dispatch.shtml">专业人才派遣服务</a></li>
      </ul>
      <h3 class="mue"><a href="product_engineering.shtml">产品工程服务</a></h3>
      <ul class="menu">
        <li><a href="development_testing.shtml">产品研发与测试服务</a></li>
        <li><a href="product_deployment.shtml">产品部署与支持服务</a></li>
      </ul>
      <h3 class="mue"><a href="ito.shtml">IT外包服务</a></span></h3>
      <ul class="menu">
        <li><a href="it_management.shtml">IT基础设施管理服务</a></li>
        <li><a href="application_development.shtml">应用开发与测试服务</a></li>
        <li><a href="legacy_system_migration.shtml">遗留系统升级及移植服务</a></li>
      </ul>
      <h3 class="mue"><a href="bpo.shtml">业务流程外包服务</a></span></h3>
      <ul class="menu">
        <li><a href="call_center.shtml">客户联络中心服务</a></li>
        <li  class="cur"><a href="bpo_services.shtml">BPO服务</a></li>
        <li><a href="epo_services.shtml">EPO服务</a></li>
        <li><a href="kpo_services.shtml">KPO服务</a></li>
      </ul>
      <h3 class="mue"><a href="globalization.shtml">语言全球化服务</a></span></h3>
      <ul class="menu">
        <li><a href="software_globalization.shtml">软件产品全球化服务</a></li>
        <li ><a href="multimedia_translation.shtml">多媒体内容翻译服务</a></li>
      </ul>
    </div>
    <div class="icss_2_2_S1home2_box2">
      <div class="icss_2_0_PSG_leftbox" id="page1">
        <div class="icss_2_0_PSG_leftbox_right">{{ article.body|safe }}</div>






      </div>
      <div class="icss_2_0_PSG_leftbox" id="page2" style="display:none;">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">服务能力与核心优势</div>
          <div class="icss_text_span">
            <ul>
              <li><strong>丰富的经验</strong><strong> </strong></li>
              <ul class="list">
                <li>20年数据处理经验，作业流程成熟可靠。 </li>
                <li>拥有丰富的熟悉日本业务流程的人才 </li>
                <li>能够在短时间内对新业务提出迅速、合理的提案 </li>
              </ul>
              <p>&nbsp;</p>
              <li><strong>管理系统 </strong></li>
              <ul class="list">
                <li>通过十余年经验积累自主开发内部管理系统 </li>
                <li>社内综合管理信息系统（人员管理、权限设置、日程管理、客户管理、项目管理、工时管理） </li>
                <li>业务管理系统（各工程管理、进度管理、员工管理、效率管理、工资核算、品质管理） </li>

              </ul>
              <p>&nbsp;</p>
              <li><strong>现地支持 </strong></li>
              <ul class="list">
                <li>确保在日本的支援体制 </li>
                <li>可以开展扫描、前期处理、后期处理等工作，根据客户要求的业务流程开展业务 </li>
              </ul>
              <li></li></ul><p>&nbsp; </p>
          </div>
        </div>

        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">客户价值</div>
          <div class="icss_text_span">
            <p>中软国际通过十余年的与业界巨头的长期外包研发合作，为客户常来了高质量的服务产品和丰厚的投资回报，包括： </p>
            <p><br />
              <strong>高质量的项目交付成果</strong>：中软国际拥有全面的质量管理体系和项目管理体系，积累了多年丰富的项目交付经验，拥有业内一流专家组成的专业团队为客户项目提供开发及应用的解决方案，快速高效地执行项目交付目标，确保高质量的项目交付成果。 </p>
            <p><br />
              <strong>端到端全流程降低成本</strong>：中软国际拥有端到端的项目交付管理系统，具备端到端视角审视客户成本，为客户提供最优的整体解决方案。</p>
            <p>&nbsp; </p>
            <strong>面向未来的可扩充性</strong>：中软国际在多年的外包项目交付实践中，积累并使用最新的技术和工具，开发了一套可扩展的强大体系结构。当项目的生命周期产生变化时，中软国际提供的解决方案具有灵活的面向未来的可扩充性，并具有快速方便的升级能力，充分保护了客户的固有投资。








            <p>&nbsp;</p>
          </div>
       </div>
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">典型案例</div>
          <div class="icss_text_span">
            <p>为日本知名大型招聘广告公司制作网络招聘广告业务 </p>
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">主要客户</div>
          <div class="icss_text_span">
            <ul>
              <li><img src="{% static  'images/outsourcing_service/outsourcing_3_2_2.jpg'%}" alt="" width="160" height="44" /></li>
              <li><img src="{% static  'images/outsourcing_service/outsourcing_3_2_3.jpg'%}" alt="" width="160" height="44" /></li>
              <li><img src="{% static  'images/outsourcing_service/outsourcing_3_2_4.jpg'%}" alt="" width="160" height="44" /></li>
            </ul>
</div>
        </div>
      </div>

      <div id="pagNavigator" class="icss_text_liebiao_S1home1">
        <div style="float:right"> <img  src="../images/arrow_left.gif" alt=""/>&nbsp;&nbsp;<a href="#page1" style="color:#333; display:inline-block">1</a>&nbsp;&nbsp;<a href="#page2" style="display:inline-block">2</a>&nbsp;&nbsp;<img  src="../images/arrow_right.gif" alt=""/></div>
        <script  language="javascript" type="text/javascript">
		$(document).ready(function()
		{
			$("#pagNavigator a").each(function()
			{

				$(this).click(function(){
					var id = $(this).attr("href");

					$("#page1").hide();
					$("#page2").hide();
					$("#page3").hide();

					$(id).show();
					$("#pagNavigator a").css("color","#85adcd");
					$(this).css("color","#333");

				});
			});
		});
	</script>
      </div>
    </div>
    
   <div style="float:left; width:230px;"> 
	<div class="icss_2_0_PSG_box2">
		<div class="icss_2_0_PSG_rightbox_right_top"> <span class="icss_2_0_PSG__font01">适用行业</span></div>
		<div class="icss_2_0_PSG_rightbox_right_bottom">
			<div class="icss_text_span1 dot">银行金融</div>
            <div class="icss_text_span1 dot">保险证券</div>
            <div class="icss_text_span1 dot">制造流通</div>
            <div class="icss_text_span1 dot">公用事业</div>
           
		</div>
	</div>

	<!-- 联系PR -->
<div class="icss_2_0_PSG_box2">
  <div class="icss_2_0_PSG_rightbox_right_top"> <span class="icss_2_0_PSG__font01">核心优势</span></div>
  <div class="icss_2_0_PSG_rightbox_right_bottom">
    <div class="icss_2_0_PSG_rightbox_right_bottom_imagebox">      
      <div class="right_icss_text_span1 dot"><a href="../core_advantage/index.shtml#talent_pool">充足的人才供应</a></div>
    </div>
  </div>
</div>
	</div>
    
  </div>
  <!--bankuai-->
  <!--bottom-->
  <br class="clear" />
  <div id="footer">
	<div class="footer_main">
  <p class="hdlink"> <span style="font:12px ">版权所有</span> <span style="font:12px Calibri">&copy; 2000-2014</span>&nbsp;<span style="font:12px ">中软国际公司</span> &nbsp;&nbsp;<a href="../privacy/privacy.shtml" style="font:12px  ;margin-left:12px;" >隐私声明</a> | <a href="../about/contact/contact.shtml" style="font:12px " >联系我们</a> </p>
</div>
    <!--footer_main-->
  </div>
  <!--footer-->
</div>
<!--wrap-->
</body>
</html>
