<div class="icss_2_2_S1home2_box2">
      <div id="page1" class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">服务介绍</div>
          <div class="icss_text_span">
            <p>商务流程外包（Business  Process Outsourcing）就是企业将一些重复性的非核心或核心业务流程外包给供应商，以降低成本，同时提高服务质量。中软国际日韩外包业务线具有20年各种信息处理服务经验，前身可追溯至1992年，具有20年各种信息处理服务经验，其提供的BPO服务涉及源数据录入/处理、后台支持、联络中心、综合业务的人员派遣等等。我们以“满足客户需求，强化过程管理，实现持续改进”为质量目标，在行业内率先通过了ISO9001:2000质量管理体系认证，从而进一步提升作业的质量，更好地为客户服务提供强有力的支撑，可以确保99.997%的准确率。通过ISO 27001:2005以及个人信息保护评价（PIPA），致力于在合同条件下向客户和第三方证明我公司的信息安全管理体系能满足规定的标准。 </p>
            <p>&nbsp;</p>
我们始终秉承“更正确、更迅速、更安全”的宗旨，以实践中掌握的技术，积累的丰富经验，为客户提供最合适的BPO服务。








<p align="center">&nbsp;</p>
          </div>
        </div>

        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">服务内容</div>
          <div class="icss_text_span">

            <p><strong>数据处理（录入/清洗） </strong></p>
            <p><strong>概述 </strong><br>
              中软国际业务流程外包服务提供全方位的数据处理服务，包括数据录入及清洗，通过科学合理的项目方案规划，满足客户对交货期、交货品质的各种要求。截止2012年，数据处理业务已满20个年头，积累了日本多个行业的大型企业客户。 </p>
            <p>&nbsp;</p>
            <p><strong>服务内容 </strong></p>
            <ul class="list">
            	<li>各种申请书、预定单处理 </li>
                <li>明信片、贺年卡处理</li>
                <li>名片、名簿处理</li>
                <li>问卷调查处理</li>
                <li>销售、会计、订货、营业、盘点等传票数据处理</li>
                <li>医疗费账单、社会保险单据处理</li>
                <li>试卷、答案处理 </li>
                <li>各种税务表格、统计调查数据处理</li>
                <li>气象、水文数据处理 </li>
              <li style="margin-left:6px;">教科书、学术论文、法律文书、专利文献等图书电子化 </li>
              <li style="margin-left:6px;">HTML、XML/SGML等文字化 </li>

            </ul>

            <p>&nbsp;</p>
            <ul>
              <li><strong>分析制作 </strong></li>
            </ul>
            <p><strong>概述 </strong><br>
              中软国际业务流程外包服务提供网络广告信息的处理服务，包括信息资料的整理分析，网络数据的形成，后期数据的维护等。运用专业的操作流程为客户提供高品质、高附加价值的信息服务，满足客户对交货期、交货品质的各种要求。截止2012年，该业务已经成功启动2年，成为日本著名传媒公司该项业务的唯一中国合作伙伴。 </p>
            <p>&nbsp;</p>
            <p><strong>服务内容 </strong></p>
			<p><img height="152" width="455" alt="" src="../images/outsourcing_service/outsourcing_3_2_1.jpg"></p>
            <p>附图片及无图片网络招聘广告制作。 </p>
            <p align="center">&nbsp;</p>

            <p align="left">&nbsp;</p>

          </div>
        </div>
      </div>
      <div style="display:none;" id="page2" class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">服务能力与核心优势</div>
          <div class="icss_text_span">
            <ul>
              <li><strong>丰富的经验</strong><strong> </strong></li>
              <ul class="list">
                <li>20年数据处理经验，作业流程成熟可靠。 </li>
                <li>拥有丰富的熟悉日本业务流程的人才 </li>
                <li>能够在短时间内对新业务提出迅速、合理的提案 </li>
              </ul>
              <p>&nbsp;</p>
              <li><strong>管理系统 </strong></li>
              <ul class="list">
                <li>通过十余年经验积累自主开发内部管理系统 </li>
                <li>社内综合管理信息系统（人员管理、权限设置、日程管理、客户管理、项目管理、工时管理） </li>
                <li>业务管理系统（各工程管理、进度管理、员工管理、效率管理、工资核算、品质管理） </li>

              </ul>
              <p>&nbsp;</p>
              <li><strong>现地支持 </strong></li>
              <ul class="list">
                <li>确保在日本的支援体制 </li>
                <li>可以开展扫描、前期处理、后期处理等工作，根据客户要求的业务流程开展业务 </li>
              </ul>
              <li></li></ul><p>&nbsp; </p>
          </div>
        </div>

        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">客户价值</div>
          <div class="icss_text_span">
            <p>中软国际通过十余年的与业界巨头的长期外包研发合作，为客户常来了高质量的服务产品和丰厚的投资回报，包括： </p>
            <p><br>
              <strong>高质量的项目交付成果</strong>：中软国际拥有全面的质量管理体系和项目管理体系，积累了多年丰富的项目交付经验，拥有业内一流专家组成的专业团队为客户项目提供开发及应用的解决方案，快速高效地执行项目交付目标，确保高质量的项目交付成果。 </p>
            <p><br>
              <strong>端到端全流程降低成本</strong>：中软国际拥有端到端的项目交付管理系统，具备端到端视角审视客户成本，为客户提供最优的整体解决方案。</p>
            <p>&nbsp; </p>
            <strong>面向未来的可扩充性</strong>：中软国际在多年的外包项目交付实践中，积累并使用最新的技术和工具，开发了一套可扩展的强大体系结构。当项目的生命周期产生变化时，中软国际提供的解决方案具有灵活的面向未来的可扩充性，并具有快速方便的升级能力，充分保护了客户的固有投资。








            <p>&nbsp;</p>
          </div>
       </div>
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">典型案例</div>
          <div class="icss_text_span">
            <p>为日本知名大型招聘广告公司制作网络招聘广告业务 </p>
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">主要客户</div>
          <div class="icss_text_span">
            <ul>
              <li><img height="44" width="160" alt="" src="../images/outsourcing_service/outsourcing_3_2_2.jpg"></li>
              <li><img height="44" width="160" alt="" src="../images/outsourcing_service/outsourcing_3_2_3.jpg"></li>
              <li><img height="44" width="160" alt="" src="../images/outsourcing_service/outsourcing_3_2_4.jpg"></li>
            </ul>
</div>
        </div>
      </div>

      <div class="icss_text_liebiao_S1home1" id="pagNavigator">
        <div style="float:right"> <img alt="" src="../images/arrow_left.gif">&nbsp;&nbsp;<a style="color:#333; display:inline-block" href="#page1">1</a>&nbsp;&nbsp;<a style="display:inline-block" href="#page2">2</a>&nbsp;&nbsp;<img alt="" src="../images/arrow_right.gif"></div>
        <script type="text/javascript" language="javascript">
		$(document).ready(function()
		{
			$("#pagNavigator a").each(function()
			{

				$(this).click(function(){
					var id = $(this).attr("href");

					$("#page1").hide();
					$("#page2").hide();
					$("#page3").hide();

					$(id).show();
					$("#pagNavigator a").css("color","#85adcd");
					$(this).css("color","#333");

				});
			});
		});
	</script>
      </div>
    </div>